.container {
  padding: 20px;
  background: linear-gradient(
    38deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(130, 130, 190, 1) 49%,
    rgba(154, 145, 241, 1) 100%
  );
  h1 {
    margin: 0 0 20px;
  }
  .pokemonData {
    margin-top: 20px;
  }
}
